.App {
  /* padding-top: 36px; */
  text-align: center;
  background-color: black;
}
.align-left {
  text-align: left;
}

body {
  background-color: black;
  height: 100vh;
}

/* DETAIL */
.grid-detail article.grid-detail-block {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}
.img-detail {
  background-color: black !important;
  padding: 0px !important;
}
.footerDetail {
  background-color: black !important;
  padding: 0.5rem 1.5rem 1.5rem !important;
}

.card {
  background-color: black !important;
  color: #fff !important;
}
.card-content {
  padding: 1.5rem 0.5rem !important;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.buttons-wrapper {
  justify-content: center !important;
}
.buttons-wrapper .is-half {
  width: 48%;
}
.buttons-wrapper .is-half button {
  width: 100%;
}

#moviesList .columns {
  padding: 40px 24px;
}

img {
  border-radius: 4px;
}
.title,
.subtitle,
body {
  color: #fff !important;
}

/* PAGINATION */
.disabledLast,
.disablePagination {
  display: none !important;
}
.disabledFirst {
  display: none !important;
}
nav {
  margin-top: 30px !important;
}
.half-width {
  width: 50%;
}
.top-space {
  padding-top: 20px;
}
.top-space-10 {
  padding-top: 10px;
}

/* .icon {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
} */
.rating {
  font-size: 18px !important;
  padding: 15px;
  margin-top: 15px;
}
.bottomMargin24 {
  margin-bottom: 0px;
}
.titleMovie {
  color: #000 !important;
}
.icon-left {
  margin-right: 5px !important;
}
.icon-right {
  margin-left: 5px !important;
}
/* .icon-top {
  margin-bottom: 5px !important;
} */

.login-content {
  padding: 15px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  /* background-color: rgb(161, 139, 161); */
}

.disableButton {
  display: none !important;
}

@media all and (orientation: landscape) and (max-width: 768px) {
  .column.is-full-mobile {
    flex: none;
    width: 50% !important;
  }
}
